.problems-page {
  position: fixed;
  top: 72px;
  left: 0;
  width: 100%;
  height: calc(100vh - 72px);
  background: #020617;
  overflow-y: auto;
  overflow-x: hidden;
  color: white;
}

.problems-content {
  width: 93%; 
  margin: auto;
  padding: 28px 0 30px;
}

.problems-toolbar {
  display: flex;
  align-items: center;
  gap: 12px;
  flex-wrap: nowrap;
}

.search-input {
  width: 50%;
  flex: 0 0 50%;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 12px;
  background: #0f172a;
  color: white;
  padding: 0 18px;
  font-size: 15px;
}

.search-input::placeholder {
  color: #94a3b8;
}

.filter-btn {
  width: 50px;
  height: 50px;
  flex: 0 0 50px;
  border: none;
  border-radius: 12px;
  background: #0f172a;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.filter-btn:hover {
  background: #162033;
}

.difficulty-filters {
  display: flex;
  gap: 10px;
  margin: 0;
  flex-wrap: wrap;
}

.difficulty-filters button {
  padding: 10px 16px;
  border: none;
  border-radius: 10px;
  background: #0f172a;
  color: white;
  cursor: pointer;
}

.difficulty-filters button:hover {
  background: #162033;
}

.active-filter {
  background: #2563eb !important;
}

.problems-container {
  margin-top: 25px;
}

.problem-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0f172a;
  border-radius: 14px;
  padding: 18px 22px;
  margin-bottom: 12px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  transition: 0.2s;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.problem-card:hover {
  background: #162033;
  color: white;
}

.problem-card:visited {
  color: white;
}

.problem-card:active {
  color: white;
}

.problem-title {
  font-size: 15px;
  font-weight: 500;
  color: white;
}

.difficulty {
  font-weight: 600;
}

.easy {
  color: #00b8a3;
}

.medium {
  color: #ffc01e;
}

.hard {
  color: #ff375f;
}

.no-problems {
  text-align: center;
  padding: 100px;
  color: #94a3b8;
  font-size: 18px;
}

.problem-right {
  display: flex;
  align-items: center;
  gap: 28px;
}

.problem-action {
  width: 26px;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  color: #22c55e;
}
